*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.banner{
    background: url(images/donation13.jpg);
    background-repeat: no-repeat;    
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.help{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 50px;
}
.help h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;    
}
.help p{
    margin-bottom: 25px;
}
.donate-button{
    background: #FF5959;
    padding: 18px 12px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    text-decoration: none;    
}
.donate-today{
    margin: 80px 200px;
}
.donate-text{
    text-align: center;
}
.donate-text h1{
    font-size: 40px;
}
.donate-text p{
    font-size: 15px;
    margin-top: 20px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.tk-box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;;
    background-color: rgba(250, 244, 244, 0.904);
    margin-left: 25px;
    width: 100px;
    height: 100px;
    border-radius: 2px;
}
.tk-box2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 209, 209);
    margin-left: 25px;
    width: 100px;
    height: 100px;
    border-radius: 2px;
    border: 2px solid #FF5959;
    color: #FF5959;
}
.amount-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.amount-form input{
    text-align: center;
    border: none;
    border-bottom: 1px solid #DADADA;
    color: #B3B3B3;
    padding: 10px 15px;
    width: 50%;
}
::placeholder{
    color: #B3B3B3;
}
.donate-plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.donate-card{
    display: flex;
    margin: 50px 40px;
    align-items: center;
    justify-content: center;
}
#card1{
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}
#card2{
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}
#card3{
    background-color: rgba(252, 252, 66, 0.349);
    border-radius: 5px;
}

.card{
    width: 25%;
    height: 25%;
    padding: 60px 30px;
    margin-left: 20px;
    border-radius: 4px;
}
.card img{
    width: 55px;
    height: 55px;
    margin: 15px 0px;
}
.contribute{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
    padding: 20px 5px;
   
}
.half-width{
    width: 50%;
    height: auto;
    margin: 40px;
}
.half-width img{
   width: 100%;
   border-radius: 4px;
   border: 2px solid gray;
   box-shadow: 5px 10px 12px gray;

}
.button1{
    background: #FF5959;
    padding: 18px 12px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    text-decoration: none;  
}
.half-width p{
    margin: 20px 0px;
}


.update-section{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.update-section p{
    color: #AA9F9F;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 241, 178, 0.692);
    width: 40%;
    padding: 50px 50px;
    margin: 45px 0px;
}
.contact input{
    border: none;
    padding: 9px;
    border-radius: 3px 0px 3px 3px;
    background-color: rgb(204, 201, 198);
}
.contact button{
    border: none;
    padding: 9px 20px;
    border-radius: 0px 3px 3px 0px;
    margin-left: -2px;
    background-color: #FF5959;
    color: white;
}
footer{
    background-color: black;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    color: white;
    font-family: 'Dancing Script', cursive;
}
footer h1{
    color: #FF6600;
}
footer p{
    font-size: smaller;
}

